:host {
  display: flex;
  height: 100vh;
  background-color: var(--dark);
}
.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: var(--card-bg);
  height: 6rem;
}
.main-content {
  padding: 0.8rem;
  flex: 1;
  overflow: auto;
}
