* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

:root {
  --white: #ffffff;
  --dark: #000000;
  --primary: #15af44;
  --primary-dark: #189541;
  --secondary: #6a7787;
  --secondary-light: #bbbdc0;
  --danger: #dc3545;
  --bg: #1a1e23;
  --bg-dark: #1d242c;
  --bg-dark2: #272d36;
  --sidebar-bg: #2a3139;
  --card-bg: #252b33;
  --card-bg-light: #454d57;
  --primary-font: "Open Sans", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--primary-font);
  color: var(--white);
  font-size: 1.6rem;
}

.app-svg-icon.inherit-fill svg path {
  fill: currentColor;
}

ul {
  list-style-type: none;
}
